* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 1, 62);
    padding: 0 20px;
    height: 80px;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

form input {
    border-radius: 10px;
    border: 2px;
    width: 450px;
    height: 25px;
    transform: translateX(105px);
}

form button {
    transform: translateX(105px);
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1.5rem;
    margin: 10px;
}


.caixa {
    display: flex;
    max-width: 1500px;
    padding: 40px;
    flex-direction: column;
    margin: 40px auto;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.logo {
    height: 100px;
    width: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}